@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --main: black;
    --secondary: white;
    --middle: #f5f5f5;
    --accent1: #0b57cf;
    --accent2: #0441a2;
}
body {
    margin: 0px;
    font-family: "Mulish", Arial, sans-serif;
}
header {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: var(--accent1);
    color: var(--secondary);
    padding-left: 5%;
    padding-right: 5%;
    height: 50px;
    padding-top: 20px;
    font-weight: 500;
}
#hamburger {
    background-color: var(--accent1);
    border: none;
    margin-bottom: 15px;
    display: none;
}
#hamburger img {
    width: 30px;
    height: 30px;
}
#logo {
    flex: 25%;
    margin-top: 5px;
}
.headerDiv a {
    text-decoration: none;
    color: var(--secondary);
}
#selections {
    flex: 50%;
    text-align: center;
    display: flex;
}
.selectionsLink {
    margin-top: 5px;
    flex: 20%;
    margin-left: 2%;
    margin-right: 2%;
}
#contactHeader {
    flex: 25%;
    text-align: end;
}
#contactHeader a button {
    background-color: var(--secondary);
    color: var(--accent1);
    border: none;
    border-radius: 5px;
    height: 30px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 10px;
    cursor: pointer;
}
#contactHeader a button:hover {
    scale: 1.1;
}
footer {
    padding-left: 5%;
    padding-top: 5%;
    background-color: var(--accent1);
}
#footerTop {
    display: flex;
}
.footerColumn {
    flex: 15%;
}
.footerColumn a {
    color: var(--secondary);
    text-decoration: none;
}
#footerInfo {
    margin-left: 15%;
    flex: 25%;
    color: var(--secondary)
}
#footerBottom {
    padding-top: 5%;
    padding-bottom: 2%;
    color: var(--secondary);
    text-align: center;
}
@media screen and (max-width: 1000px) {
    header {
        position: relative;
    }
    #hamburger {
        display: block;
    }
    #selections {
        display: none;
    }
    #footerTop {
        display: block;
    }
}